Importamos las librerias necesarias para el analisis de datos.

In [10]:
import pandas as pd
import matplotlib.pyplot as plt

Leemos el archivo formato csv con la info que queremos buscar, y revisamos las columnas y posibles elementos nulos.

In [11]:
df = pd.read_csv('bestsellers_with_categories.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

Revisamos si hay filas duplicadas.

In [12]:
print(f"Cantidad de filas duplicadas: {df[df.duplicated].shape[0]:,}")
df[df.duplicated]

Cantidad de filas duplicadas: 0

Empty DataFrame
Columns: [Name, Author, User Rating, Reviews, Price, Year, Genre]
Index: []

Vemos que no hay elementos nulos pero aplicaremos el codigo igualmente para prevenir.

In [13]:
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

Vemos cuales son los generos de los libros.

In [14]:
df['Genre'].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

Creamos un DataFrame de los libros que nos interesan y vemos sus años de publicación.

In [15]:
palabras_clave = ['Study' ,'study', 'Studies', 'studies', 'Essay',
                'essay', 'Essays', 'essays', 'History', 'history', 
                'Science', 'science', 'Math', 'math', 'Economics',
                'economics']
patron = '|'.join(palabras_clave)
libros_estudio = df[df['Name'].str.contains(patron, na=False)]
print(f'La cantidad de libros de estudios es: {len(libros_estudio)}')
libros_estudio.head()

La cantidad de libros de estudios es: 10

,Name,Author,User Rating,Reviews,Price,Year,Genre
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction
23,American Sniper: The Autobiography of the Most...,Chris Kyle,4.6,15921,9,2015,Non Fiction
354,The China Study: The Most Comprehensive Study ...,Thomas Campbell,4.7,4633,21,2011,Non Fiction
439,The Official SAT Study Guide,The College Board,4.4,1201,40,2010,Non Fiction
440,The Official SAT Study Guide,The College Board,4.4,1201,40,2011,Non Fiction

In [16]:
print(f'Los años de publicación de los libros van de {df['Year'].min()} a {df['Year'].max()}')
print(f'Los años de publicación de los libros de estudio van de {libros_estudio['Year'].min()} a {libros_estudio['Year'].max()}')

Los años de publicación de los libros van de 2009 a 2019
Los años de publicación de los libros de estudio van de 2010 a 2018

Comparamos la cantidad de libros de estudio con la cantidad de libros de otros generos.

In [17]:
df_otros_generos = df.drop(libros_estudio.index)
print(f'La cantidad de libros de estudio es: {len(libros_estudio)}')
print(f'La cantidad de libros de otros generos es: {len(df_otros_generos)}')

La cantidad de libros de estudio es: 10
La cantidad de libros de otros generos es: 540

En base a estos datos podemos ver que la cantidad de libros de estudio es considerablemente menor a la cantidad de libros de otros generos, esto nos permite concluir que, al igual que en el otro caso de estudio, el uso de los libros de estudio van cada vez mas en decadencia.

También vemos que la diferencia en los de publicación de los libros de estudio con los demás libros no es lo suficientemente amplia como para considerarlo un factor que altere los resultados.